*{
	padding: 0;
	margin: 0;
}
body{;
	background: url(../images/backgroundindex.jpg)no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
box-sizing: border-box;
font-family: sans-serif;
}

.menu-bar{
	background: grey;
	text-align: center;
}

.menu-bar ul{
	display: inline-flex;
	list-style: none;
	color: grey;
}
.menu-bar ul li{
	width: 120px;
	margin: 15px;
	padding: 15px;
}

.menu-bar ul li a {
	text-decoration: none;
	color: #fff;
}

.active, .menu-bar ul li:hover{
	background: darkgrey;
	border-radius: 3px;
	color: lightsalmon;
}

.menu-bar .fas{
	margin-right: 8px;
}

.sub-menu-1{
	display: none;
}

.menu-bar ul li:hover .sub-menu-1{
	display: block;
	position: absolute;
	background: grey;
	margin-top: 15px;
	margin-left: -15px;
	color: lightsalmon;
}
.menu-bar ul li:hover .sub-menu-1 ul{
	display: block;
	margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1s ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
	border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: lightsalmon;
}