
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body {
	background: #DEDEDE;
	display: flex;
	min-height: 100vh;
	background: url(../images/background2.jpg)no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

h1{
	color: white;
	text-align: center;
	position: absolute;
	left: 50%;
	top: -25%;
	transform: translate(-50%, -50%);
}



.divform{
	margin-top: 10%;
	margin-left: calc(50% - 150px);
	width: 50%;
	max-width: 300px;
	height: 370px;
	background: white;
	padding: 30px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	position: relative; 

	border-radius: 20px;
	
	box-shadow: 1px -1px 116px 0px black;

}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute; z-index: 2; left: 60px;
	top: -15%;
	left: calc(50% - 50px);

}

h2 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 15px;
	color: rgba(0, 0, 0, 0.5);
}

input{
	display: block;
	padding: 10px;
	width: 100%;
	margin: 30px 0;
	font-size: 20px;


}

input[type="text"]{
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
}


input[type="password"]{
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	outline: none;
}
input[type="submit"]{
	background: linear-gradient(#011923, #023649 );
	border: 0;
	color: white;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-top: 60px;

}

input[type="submit"]:hover{
	opacity: 1;
}

input[type="submit"]:active{
	transform: scale(0.95);
}

a:hover{
	color: orange;
	font-size: 12px;


}

a{
	padding-left: 50px;
	font-size: 12px;
	color: grey;
	text-align: right;
}

@media (max-width: 758px){
	.divform{
		width: 75%;
	}

}

@media (max-width: 480px){
	.divform{
		width: 95%;
	}

	
}

@media (max-width: 758px){
	h1{
		width: 75%;
	}
	
}

@media (max-width: 480px){
	h1{
		width: 95%;
	}
}
