<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='mostrar_clientes.css')}}"> -->
    <title>Agregar Cliente</title>
    <link rel="stylesheet" type="text/css" href="../static/add_cliente.css">
</head>
<body>
    <form action="/add_cliente" method="post" id="form">  
        <div class="form">
            <h1>Registrar Cliente</h1> 
            <table>
                <tr>
                    

            <div class="grupo">
                
                <input type="text" name="nitcliente" maxlength=16 required/><span class="barra"></span>
                <label>Nit</label>
            </div>
            
            </tr>
            <tr>
                <td>

            <div class="grupo">
                
                <input type="text" name="nombres" maxlength=40 required/><span class="barra"></span>
                <label>Nombres </label>
            </div>
            </td>

            <td>
            <div class="grupo">
                
                <input type="text" name="apellidos" maxlength=40 required/><span class="barra"></span>
                <label>Apellidos</label>
            </div>
            </td>
            </tr>
            <tr>
                <td>
            <div class="grupo">
                
                <input type="text" name="telefono" maxlength=30 required/><span class="barra"></span>
                <label>Telefono</label>
            </div>
             </td>
            <td>
            <div class="grupo">
                
                <input type="text" name="email" maxlength=70 required/><span class="barra"></span>
                <label>Email</label>
            </div>
            </td>
            </tr>
            <tr>
                <td>
            <div class="grupo">
                
        
                <input type="date" name="fecharegistro"  required/><span class="barra"></span>
                <label>Fecha de Registro</label>
            </div>
             </td>
           <td>
            <div class="grupo">
                
                <input type="text" name="activo" maxlength=1 required/><span class="barra"></span>
                <label>Activo</label>
                </td>
                </tr>
            </div>
            <td>
             <div class="grupo">
                
                <input type="text" name="sexo" maxlength=1 required/><span class="barra"></span>
                <label>Sexo</label>
            </div>
            </td>
            </table>

            <button type="submit">Registrar</button>
            <button class="return"><a href="index.html">Cancelar</a></button>
        </div>
    </form>
</body>
</html>