<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
</head>
<body>
    <form action="/edit_cliente" method="post">   
        <input type="hidden" name="idcliente" value="{{cliente['idcliente']}}" />
        <label>NIT</label>      
        <input type="text" name="nitcliente" value="{{cliente['nitcliente']}}" />
        <br/>
        <label>NOMBRES </label>
        <input type="text" name="nombres" value="{{cliente['nombres']}}" />
        <br/>
        <label>APELLIDOS </label>
        <input type="text" name="apellidos" value="{{cliente['apellidos']}}"/>
        <br/>
        <label>TELEFONO</label>
        <input type="text" name="telefono" value="{{cliente['telefono']}}"  />
        <br/>
        <label>EMAIL</label>
        <input type="text" name="email" value="{{cliente['email']}}"  />
        <br/>
        <label>FECHA REGISTRO</label>
        <input type="date" name="fecharegistro" value="{{cliente['fecharegistro']}}"  />
        <br/>
        <label>SEXO</label>
        <input type="text" name="sexo" value="{{cliente['sexo']}}"  />
        <br/>
        <label>ACTIVO</label>
        <input type="text" name="activo" value="{{cliente['activo']}}"  />
        <br/>
        <input type="submit" value="Editar cliente"/>
    </form>
</body>
</html>