<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='login.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/loginreal.css">
    <link rel="icon" href="../images/Logo2.ico">
    <title>LOGIN</title>
</head>
<body>
    <div class="divform">
        <div class="titulo">
            <h1> Inicio de sesión </h1>
        </div>
        <div>
            <img class="avatar" src="../images/logorojo1.png" alt="Logo">
        </div>
        <!-- # insert action="" en el form, el metodo es post ? -->
                <form action="/valida_user" method="post" class="caja-login" >
          <br>
            <input type="text" placeholder="&#128100; Usuario" name="usuario">
            <input type="password" placeholder="&#128274; Contraseña" name="clave">
            <!-- como paso las variables usuario y clave a valida_user  -->
            <a>Recuperar contraseña<a>
                <br>
            <input type="submit" value="Ingresar" name="">
        </form>  
  </div>
</body>
</html>